.tableContainer {
  max-height: 100vh;
  overflow-y: auto;
}

.transactionHistoryTable {
  max-width: 500px;
  width: 100%;
  table-layout: fixed;
  text-align: center;
  /* border-collapse: collapse; */

  & tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  & tbody tr:nth-child(even) {
    background-color: #fff;
  }
}

.transactionHistoryTable th {
  padding: 12px 20px;

  position: sticky;
  top: 0;
  background-color: rgb(210, 234, 255);
  z-index: 1;
  /* text-align: center; */
}

.transactionHistoryTable td {
  padding: 8px 12px;
}
